<?xml version="1.0"?>
<model>
  <name>yolo_shuttle_visual</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>SC Robot</name>
  </author>
  <description>
    Static visual-only shuttle using the production shuttle STL. Dataset/debug only.
  </description>
</model>
