<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="scrobot_gazebo_sensors">
    <gazebo reference="camera_imu_frame">
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100.0</update_rate>
        <visualize>false</visualize>
        <topic>/imu/data</topic>
        <gz_frame_id>imu_link</gz_frame_id>
      </sensor>
    </gazebo>

    <gazebo reference="mag_link">
      <sensor name="magnetometer_sensor" type="magnetometer">
        <always_on>true</always_on>
        <update_rate>50.0</update_rate>
        <visualize>false</visualize>
        <topic>/imu/mag</topic>
        <gz_frame_id>mag_link</gz_frame_id>
      </sensor>
    </gazebo>

    <!-- =============================== -->
    <!-- D435i COLOR CAMERA              -->
    <!-- =============================== -->

    <gazebo reference="camera_link">
      <sensor name="d435i_color" type="camera">

        <always_on>true</always_on>
        <update_rate>30.0</update_rate>
        <visualize>true</visualize>

        <topic>/camera/color</topic>
        <gz_frame_id>camera_color_frame</gz_frame_id>

        <camera>
          <horizontal_fov>1.11701072</horizontal_fov>

          <image>
            <width>1920</width>
            <height>1080</height>
            <format>R8G8B8</format>
          </image>

          <clip>
            <near>0.05</near>
            <far>20.0</far>
          </clip>

          <optical_frame_id>
            camera_color_optical_frame
          </optical_frame_id>

        </camera>

      </sensor>
    </gazebo>


    <!-- =============================== -->
    <!-- D435i DEPTH CAMERA              -->
    <!-- =============================== -->

    <gazebo reference="camera_link">
      <sensor name="d435i_depth" type="depth_camera">

        <always_on>true</always_on>
        <update_rate>15.0</update_rate>
        <visualize>true</visualize>

        <topic>/camera/depth</topic>
        <gz_frame_id>camera_depth_frame</gz_frame_id>

        <camera>
          <horizontal_fov>1.11701072</horizontal_fov>

          <image>
            <width>1280</width>
            <height>720</height>
          </image>

          <clip>
            <near>0.3</near>
            <far>3.0</far>
          </clip>

          <optical_frame_id>
            camera_depth_frame
          </optical_frame_id>

        </camera>

      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
