<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="scrobot_base">
    <link name="base_footprint">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.0001"/>
        <inertia ixx="1e-8" ixy="0" ixz="0" iyy="1e-8" iyz="0" izz="1e-8"/>
      </inertial>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/>
    </joint>

    <link name="base_link">
      <inertial>
        <origin xyz="-0.060 0.002 0.195" rpy="0 0 0"/>
        <mass value="14.14"/>
        <inertia
          ixx="0.766"
          ixy="0.00107"
          ixz="0.338"
          iyy="1.060"
          iyz="-0.00308"
          izz="0.727"/>
      </inertial>

      <visual name="base_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://scrobot_description/meshes/visual/base.STL" scale="1 1 1"/>
        </geometry>

        <material name="aluminum_grey"/>
        
      </visual>

      <collision name="base_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://scrobot_description/meshes/collision/base_collision.STL" scale="1 1 1"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
