<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="scrobot_collector">
    <link name="collector_link">
      <inertial>
        <origin xyz="0 -0.0023 0" rpy="0 0 0"/>
        <mass value="0.150"/>
        <inertia
          ixx="1.24e-3"
          ixy="0"
          ixz="0"
          iyy="6.41e-5"
          iyz="0"
          izz="1.24e-3"/>
      </inertial>

      <visual name="collector_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://scrobot_description/meshes/visual/collector.STL" scale="1 1 1"/>
        </geometry>

        <material name="plastic_blue"/>
      </visual>
    </link>

    <joint name="collector_joint" type="fixed">
      <parent link="base_link"/>
      <child link="collector_link"/>
      <origin xyz="${collector_x} ${collector_y} ${collector_z}" rpy="0 0 0"/>
    </joint>

    <link name="pickup_link"/>

    <joint name="pickup_joint" type="fixed">
      <parent link="collector_link"/>
      <child link="pickup_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
