<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="scrobot">

  <material name="aluminum_grey">
    <color rgba="0.60 0.62 0.65 1.0"/>
  </material>

  <material name="rubber_black">
    <color rgba="0.03 0.03 0.03 1.0"/>
  </material>

  <material name="plastic_blue">
    <color rgba="0.05 0.25 0.80 1.0"/>
  </material>

  <material name="sensor_blue">
    <color rgba="0.05 0.15 0.90 1.0"/>
  </material>

  <xacro:property name="wheel_radius" value="0.050"/>
  <xacro:property name="wheel_width" value="0.030"/>
  <xacro:property name="wheel_separation" value="0.420"/>

  <xacro:property name="base_front_x" value="0.325"/>
  <xacro:property name="base_rear_x" value="-0.450"/>
  <xacro:property name="base_left_y" value="0.225"/>
  <xacro:property name="base_right_y" value="-0.225"/>

  <xacro:property name="caster_x" value="-0.300"/>
  <xacro:property name="caster_y" value="0.160"/>
  <xacro:property name="caster_z" value="0.0085"/>
  <xacro:property name="caster_radius" value="0.020"/>
  <xacro:property name="caster_width" value="0.020"/>
  <xacro:property name="caster_trail" value="-0.020"/>
  <xacro:property name="caster_axle_drop" value="0.0385"/>
  <xacro:property name="caster_fork_com_x" value="-0.00525"/>
  <xacro:property name="caster_fork_com_y" value="0.0"/>
  <xacro:property name="caster_fork_com_z" value="-0.01513"/>

  <xacro:property name="collector_radius" value="0.030"/>
  <xacro:property name="collector_diameter" value="0.060"/>
  <xacro:property name="collector_length" value="0.300"/>
  <xacro:property name="collector_x" value="0.165"/>
  <xacro:property name="collector_y" value="0.0"/>
  <xacro:property name="collector_z" value="-0.020"/>

  <xacro:property name="camera_x" value="0.130"/>
  <xacro:property name="camera_y" value="0.0"/>
  <xacro:property name="camera_z" value="0.225"/>
  <xacro:property name="camera_roll" value="0.0"/>
  <xacro:property name="camera_pitch" value="${7.0 * pi / 180.0}"/>
  <xacro:property name="camera_yaw" value="0.0"/>

  <xacro:property name="imu_x" value="-0.035"/>
  <xacro:property name="imu_y" value="0.0"/>
  <xacro:property name="imu_z" value="0.030"/>

  <xacro:property name="mag_x" value="-0.035"/>
  <xacro:property name="mag_y" value="0.0"/>
  <xacro:property name="mag_z" value="0.040"/>

  <xacro:include filename="$(find scrobot_description)/urdf/base.xacro"/>
  <xacro:include filename="$(find scrobot_description)/urdf/wheels.xacro"/>
  <xacro:include filename="$(find scrobot_description)/urdf/casters.xacro"/>
  <xacro:include filename="$(find scrobot_description)/urdf/collector.xacro"/>
  <xacro:include filename="$(find scrobot_description)/urdf/sensors.xacro"/>

  <xacro:scrobot_base/>
  <xacro:scrobot_wheels/>
  <xacro:scrobot_casters/>
  <xacro:scrobot_collector/>
  <xacro:scrobot_sensors/>
</robot>
