<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include
    filename="$(find scrobot_description)/urdf/realsense_d435i.xacro"/>

  <xacro:macro name="scrobot_sensors">
    <!-- Intel RealSense D435i. Internal camera/IMU frame geometry lives in
         realsense_d435i.xacro; this origin is the measured robot mount. -->
    <xacro:scrobot_d435i parent="base_link" name="camera">
      <origin
        xyz="${camera_x} ${camera_y} ${camera_z}"
        rpy="${camera_roll} ${camera_pitch} ${camera_yaw}"/>
    </xacro:scrobot_d435i>
  </xacro:macro>

</robot>
